# Node.js dependencies (if any)
node_modules/
npm-debug.log*
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Environment variables
.env
.env.*.local

# IDE settings
*.vscode
*.idea
*.sublime-project
*.sublime-workspace
*.json
# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail caches
Thumbs.db
ehthumbs.db

# System files
Desktop.ini

# PHP related files
*.cache
*.tmp
*.bak
*.swp
*.orig

# Composer dependencies
/vendor/

# MySQL dump files
*.sql

# Build and distribution directories
/dist/
/build/
/out/

# Temporary files
*.tmp
*.swp
*.bak

# Compiled files
*.o
*.so
*.dll
*.exe

# Backup files
*.bak
*.old

# Ignore API Keys and Secrets
*.pem
*.p12
*.key
*.crt
*.csr
*.der
*.json

# Ignore specific PHP files (if any sensitive or temporary)
*.log
*.sqlite3

# Ignore lock files
*.lock
*.pid
*.seed

# SASS cache
.sass-cache/

# Testing coverage
coverage/
.nyc_output/

# GCP keys
strong-keyword-431709-a9-d10d38b03536.json

# Compiled assets or build output
/public/globals
/public/uploads
/public/images

# Temporary or specific project files
router.php
country.json
composer.json
composer.lock

# Miscellaneous
rholog-*
sim-*
bin/libs
bin/RhoBundle
bin/tmp
bin/target
bin/*.ap_
*.jar